hr {
  color: #333333;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.home-container img {
  width: 20%;
}

.dark {
  background-color: black;
}

.dark h1 {
  color: white;
}
